* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0.8rem 5rem 0.8rem;
  .header-logo {
    height: 1.875rem;
  }
  .header-meniu {
    width: 1.2rem;
  }
}
.first-main-section {
  div {
    margin: 4rem 0.8rem 0rem;
    max-width: 230px;
    position: relative;
    .first-section-p {
      color: rgb(221, 90, 112);
      margin-bottom: 1.5rem;
    }
    h1 {
      font-size: 2.3rem;
      margin-bottom: 1.5rem;
      font-weight: bold;
    }
    .second-section-p {
      color: grey;
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
    button {
      padding: 0.6rem;
      border-radius: 2.5rem;
      padding: 0.5rem 1.3rem;
      background-color: white;
      border: 2px solid rgb(221, 90, 112);
      margin-top: 1rem;
    }
  }
  img {
    height: 23rem;
    overflow: hidden;
    position: absolute;
    top: 25px;
    left: 45%;
  }
}

.second-main-section {
  background-image: url(./assets/assets/background.svg);
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
  h2 {
    margin-top: 5rem;
    padding: 5rem 0.8rem 0.8rem 0.8rem;
    font-size: 2rem;
  }
  p {
    padding: 0rem 0.8rem 2rem 0.8rem;
    font-size: 1.2rem;
  }
}
.third-main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 4rem;
  img:last-child {
    display: none;
  }
  img {
    width: 8rem;
    margin: auto;
    padding-bottom: 0.6rem;
  }
}
