* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
@mixin button {
  margin-top: 1.5rem;
  font-size: 15px;
  font-weight: bold;
  background: linear-gradient(#fdfcfc 0 0) padding-box,
    linear-gradient(to right, #9c20aa, #fb3570) border-box;
  color: #313149;
  padding: 1rem 3rem;
  border: 5px solid transparent;
  border-radius: 25px;
  display: inline-block;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0.8rem 5rem 0.8rem;
  .header-logo {
    height: 1.875rem;
  }
  .header-meniu {
    width: 1.2rem;
  }
  ul {
    display: none;
  }
}
.first-main-section {
  div {
    margin: 4rem 0.8rem 0rem;
    max-width: 230px;
    position: relative;
    .first-section-p {
      color: rgb(221, 90, 112);
      margin-bottom: 1.5rem;
    }
    h1 {
      font-size: 2.3rem;
      margin-bottom: 1.5rem;
      font-weight: bold;
    }
    .second-section-p {
      color: grey;
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
    button {
      @include button;
    }
  }
  img {
    height: 23rem;
    overflow: hidden;
    position: absolute;
    top: 25px;
    left: 45%;
  }
}

.second-main-section {
  background-image: url(./assets/assets/background.svg);
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
  h2 {
    margin-top: 5rem;
    padding: 5rem 0.8rem 0.8rem 0.8rem;
    font-size: 2rem;
  }
  p {
    padding: 0rem 0.8rem 2rem 0.8rem;
    font-size: 1.2rem;
  }
}
.third-main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 4rem;
  img:last-child {
    display: none;
  }
  img {
    width: 8rem;
    margin: auto;
    padding-bottom: 0.6rem;
  }
}

.fourth-main-section {
  h2 {
    padding: 0rem 0.8rem 0.8rem 0.8rem;
    font-size: 2rem;
  }
  p {
    padding: 0rem 0.8rem 2rem 0.8rem;
    font-size: 1.2rem;
    color: gray;
    span {
      text-decoration: underline;
    }
  }
  .cards-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .first-card {
    margin-left: 0.8rem;
    img {
      width: 14rem;
      margin-bottom: -1rem;
    }
    .card-info {
      padding: 20px 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: space-between;
      width: 14rem;
      margin-bottom: 5rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      background-color: rgb(247, 240, 240);
      .first-paragraph {
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        :nth-child(1) {
          color: orange;
        }
        :nth-child(2) {
          font-weight: bold;
        }
        :nth-child(3) {
          color: gray;
        }
      }
      .second-paragraph {
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-align: end;
        :nth-child(1) {
          color: gray;
        }
        :nth-child(3) {
          color: gray;
        }
        div {
          display: flex;
          align-items: center;
          span {
            font-weight: bold;
          }
          img {
            width: 0.6rem;
          }
        }
      }
    }
  }
}

.fifth-main-section {
  position: relative;
  margin-bottom: 9rem;
  border-top: 1px solid rgb(221, 217, 217);
  div {
    margin: 4rem 0.8rem 0rem;
    max-width: 220px;
    position: relative;
    .fifth-section-p {
      color: rgb(221, 90, 112);
      margin-bottom: 1.5rem;
    }
    h1 {
      font-size: 3rem;
      margin-bottom: 1.5rem;
      font-weight: bold;
    }
    .fifth-second-section-p {
      color: grey;
      font-size: 1.3rem;
      line-height: 1.5rem;
    }
    button {
      @include button;
    }
  }
  img {
    height: 24rem;
    overflow: hidden;
    position: absolute;
    top: 6rem;
    left: 14rem;
  }
}

footer {
  margin: 0rem 0.8rem 4rem 0.8rem;
  color: gray;
  .logo-paragraph {
    img {
      padding-bottom: 0.5rem;
    }
    div {
      padding-bottom: 1rem;
    }
    .socmedia {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 3rem;
      img {
        height: 2rem;
      }
    }
  }
  .meniu-paragraph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0rem 0.8rem 1rem 0.8rem;
    gap: 1rem;
    div {
      div {
        font-weight: bold;
      }
    }
    li {
      list-style: none;
      padding: 0.5rem;
    }
  }
  .none {
    display: none;
  }
}

@media (min-width: 1200px) {
  header {
    margin: 5rem 7rem;
    .header-meniu {
      display: none;
    }
    ul {
      display: flex;
      list-style: none;
      gap: 2rem;
      font-size: 1.3rem;
      color: gray;
      :last-child {
        color: pink;
      }
    }
  }
  main {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  .first-main-section {
    div {
      max-width: 600px;
      h1 {
        font-size: 6rem;
      }
    }
    img {
      height: 33rem;
      top: 110px;
      left: 50%;
    }
  }
  .second-main-section {
    border-radius: 10px;
    padding: 0rem 1rem;
    margin-top: 1.5rem;
  }

  .third-main-section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    img:last-child {
      display: inline;
    }
  }
  .fifth-main-section {
    border-top: 1px solid rgb(221, 217, 217);
    border-bottom: 1px solid rgb(221, 217, 217);
    padding-bottom: 3.5rem;
    div {
      max-width: 600px;
      h1 {
        font-size: 3rem;
      }
    }
    hr {
      display: none;
    }
    img {
      height: 22rem;
      top: 10px;
      left: 70%;
    }
  }
  footer {
    margin-left: 7rem;
    margin-right: 7rem;
    .last-footer-paragraph {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      .none {
        display: flex;
      }
    }
    .media-footer {
      display: flex;
      justify-content: space-between;
      .meniu-paragraph {
        display: flex;
        gap: 5rem;
      }
    }
  }
}
