* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0.8rem 5rem 0.8rem;
}
header .header-logo {
  height: 1.875rem;
}
header .header-meniu {
  width: 1.2rem;
}

.first-main-section div {
  margin: 4rem 0.8rem 0rem;
  max-width: 230px;
  position: relative;
}
.first-main-section div .first-section-p {
  color: rgb(221, 90, 112);
  margin-bottom: 1.5rem;
}
.first-main-section div h1 {
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.first-main-section div .second-section-p {
  color: grey;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.first-main-section div button {
  border-radius: 2.5rem;
  padding: 1rem 2.5rem;
  background-color: white;
  border: 3px solid rgb(221, 90, 112);
  margin-top: 1rem;
  font-size: 15px;
  font-weight: bold;
}
.first-main-section img {
  height: 23rem;
  overflow: hidden;
  position: absolute;
  top: 25px;
  left: 45%;
}

.second-main-section {
  background-image: url(./assets/assets/background.svg);
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
}
.second-main-section h2 {
  margin-top: 5rem;
  padding: 5rem 0.8rem 0.8rem 0.8rem;
  font-size: 2rem;
}
.second-main-section p {
  padding: 0rem 0.8rem 2rem 0.8rem;
  font-size: 1.2rem;
}

.third-main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 4rem;
}
.third-main-section img:last-child {
  display: none;
}
.third-main-section img {
  width: 8rem;
  margin: auto;
  padding-bottom: 0.6rem;
}

.fourth-main-section h2 {
  padding: 0rem 0.8rem 0.8rem 0.8rem;
  font-size: 2rem;
}
.fourth-main-section p {
  padding: 0rem 0.8rem 2rem 0.8rem;
  font-size: 1.2rem;
  color: gray;
}
.fourth-main-section p span {
  text-decoration: underline;
}
.fourth-main-section .cards-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.fourth-main-section .first-card {
  margin-left: 0.8rem;
}
.fourth-main-section .first-card img {
  width: 14rem;
}
.fourth-main-section .first-card .card-info {
  padding: 20px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  width: 14rem;
  margin-bottom: 5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgb(240, 231, 231);
}
.fourth-main-section .first-card .card-info .first-paragraph {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.fourth-main-section .first-card .card-info .first-paragraph :nth-child(1) {
  color: orange;
}
.fourth-main-section .first-card .card-info .first-paragraph :nth-child(2) {
  font-weight: bold;
}
.fourth-main-section .first-card .card-info .first-paragraph :nth-child(3) {
  color: gray;
}
.fourth-main-section .first-card .card-info .second-paragraph {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: end;
}
.fourth-main-section .first-card .card-info .second-paragraph :nth-child(1) {
  color: gray;
}
.fourth-main-section .first-card .card-info .second-paragraph :nth-child(3) {
  color: gray;
}
.fourth-main-section .first-card .card-info .second-paragraph div {
  display: flex;
  align-items: center;
}
.fourth-main-section .first-card .card-info .second-paragraph div img {
  width: 0.6rem;
}

.fifth-main-section {
  position: relative;
  margin-bottom: 10rem;
}
.fifth-main-section div {
  margin: 4rem 0.8rem 0rem;
  max-width: 220px;
  position: relative;
}
.fifth-main-section div .fifth-section-p {
  color: rgb(221, 90, 112);
  margin-bottom: 1.5rem;
}
.fifth-main-section div h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.fifth-main-section div .fifth-second-section-p {
  color: grey;
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.fifth-main-section div button {
  border-radius: 2.5rem;
  padding: 1rem 2.5rem;
  background-color: white;
  border: 3px solid rgb(221, 90, 112);
  margin-top: 1rem;
  font-size: 15px;
  font-weight: bold;
}
.fifth-main-section img {
  height: 24rem;
  overflow: hidden;
  position: absolute;
  top: 6rem;
  left: 14rem;
}/*# sourceMappingURL=style.css.map */